@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

html {
	font-size: 16px;
}


body {
	font-size: 1em;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items:center;
}

.container{
	max-width: 1200px;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
    font-size: 1.5em;
}
h3 {
	font-size: 1.125em;
}
h4 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
	line-height: 1.3125empx;
  padding: 0 1.875em;
}

/*The widths are in a percentage!*/
header {
	border-bottom: 0.1875em solid #77a466;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

header h1 {
	margin: 1em 0 0.5em 0;
	width: 100%;
}
header h1 span {
	color: #77a466;
}

header nav {
}
header nav ul {
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	padding: 0.5em;
	display: flex;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	display: flex;
	justify-content: center;
	align-items:center;
	flex-flow: row wrap;
}

.bottom-section {
	flex-direction: column;
}

.main-image {
}
.main-image img {
	width: 100%;
	border-bottom: 0.1875em solid #77a466;
}

.main-title {
}
.main-title h3 {
	text-align: left;
	padding: 0.3125em 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 1.5625em;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	border-top: 1px solid #eee;
}

.section-one h4 {
	padding: 0.625em 0;
}

.section-two h4,
.section-three h4 {
	padding: 0.625em 1.875em;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 0.625em 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.312em;
}

.address {
	font-size: 1em;
	line-height: 1.5em;
}

/*The widths are in a percentage!*/
footer {
	border-top: 0.1875em solid #eee;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}

@media all and (min-width:768px) {
    /* Tablet styles here */
.bottom-section {
		flex-direction: row;
		align-items: flex-start;
	}

.section-two {
		border-left: 0.0625em solid #eee;
		border-right: 0.0625em solid #eee;
}


@media all and (min-width:1200px) {
    /* Desktop styles here Need to add nav inline styling. */
header nav ul {
	display: flex;
	justify-content: space-between;
}

.bottom-section {
	flex-direction: row;
}

.section-two {
		border-left: 0.0625em solid #eee;
		border-right: 0.0625em solid #eee;
}

.section-one,
.section-two,
.section-three {
	width: 33%;
